<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                    <div class="app-simple-page">
                        <h3>Whoops! You're not allowed to see this page.</h3>
                        <h5>Please <a href="login">login</a> or <a href="register">register</a> for a new account.</h5>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <div class="app-simple-page">
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </div>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

