@inject IStringLocalizer<Strings> Loc

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                    <PageTitle>@Loc["not-allowed-page-title"]</PageTitle>
                    <div class="app-simple-page">
                        <h2 class="app-header">@Loc["not-allowed-header"]</h2>
                        <p>@Loc["login-register-label-1"] <a href="login">@Loc["login-action"]</a> @Loc["login-register-label-2"] <a href="register">@Loc["register-action"]</a> @Loc["login-register-label-3"]</p>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>@Loc["not-found-page-title"]</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="app-simple-page">
                    <h2 class="app-header">@Loc["not-found-page-title"]</h2>
                    <p role="alert">@Loc["not-found-header"]</p>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

