@page "/"

@inject IStringLocalizer<Strings> Loc

<PageTitle>@Loc["home-page"]</PageTitle>

<div class="app-simple-page">
    <h1 class="app-header">@Loc["welcome"]</h1>
    <p>
        @Loc["check-out"] <NavLink href="movies">@Loc["movies"]</NavLink> @Loc["page-list-of-movies"]
    </p>
</div>